# ==========================================
# General Configuration
# ==========================================

# Mode
INTERNAL_MAILER_MODE=debug
AUTH_MODE=debug
USER_MODE=debug
MOVIES_MODE=debug

# Domain
DOMAIN=example.com

# KurrentDB insecure (allow non-TLS connections). For production, remove or comment out
# KURRENTDB_INSECURE=--insecure

# ==========================================
# Postgres Configuration
# ==========================================

# PostgreSQL superuser configuration
POSTGRES_SUPERUSER_NAME=postgres
POSTGRES_SUPERUSER_PASSWORD=...

# Postgres database names
POSTGRES_AUTH_DB_NAME=...
POSTGRES_USER_DB_NAME=...

# Postgres usernames
POSTGRES_AUTH_DB_USER=...
POSTGRES_USER_DB_USER=...

# Postgres users passwords
POSTGRES_AUTH_DB_PASSWORD=...
POSTGRES_AUTH_DB_PASSWORD_ENCODED=...
POSTGRES_USER_DB_PASSWORD=...
POSTGRES_USER_DB_PASSWORD_ENCODED=...

# ==========================================
# Redis Configuration
# ==========================================

# Redis root password
REDIS_DEFAULT_PASSWORD="..."

# Redis databases
REDIS_TOKENS_DB=0

# Redis usernames
REDIS_AUTH_USER=...
REDIS_USER_USER=...
REDIS_MOVIES_USER=...

# Redis users passwords
REDIS_AUTH_PASSWORD="..."
REDIS_AUTH_PASSWORD_ENCODED=...
REDIS_USER_PASSWORD="..."
REDIS_USER_PASSWORD_ENCODED=...
REDIS_MOVIES_PASSWORD="..."
REDIS_MOVIES_PASSWORD_ENCODED=...

# ==========================================
# RabbitMQ Configuration
# ==========================================

# RabbitMQ root configuration
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASSWORD="..."
RABBITMQ_DEFAULT_VHOST=...

# RabbitMQ usernames
RABBITMQ_AUTH_USER=...
RABBITMQ_INTERNAL_MAILER_USER=...

# RabbitMQ users passwords
RABBITMQ_AUTH_PASSWORD=...
RABBITMQ_AUTH_PASSWORD_ENCODED=...
RABBITMQ_INTERNAL_MAILER_PASSWORD=...
RABBITMQ_INTERNAL_MAILER_PASSWORD_ENCODED=...

# RabbitMQ exchange names
RABBITMQ_MAILS_EXCHANGE_NAME=mails

# RabbitMQ routing keys
RABBITMQ_WELCOME_EMAILS_ROUTING_KEY=mails.welcome
RABBITMQ_RESET_PASSWORD_EMAILS_ROUTING_KEY=mails.reset_password
RABBITMQ_VERIFICATION_EMAILS_ROUTING_KEY=mails.verification
RABBITMQ_2FA_CODE_EMAILS_ROUTING_KEY=mails.2fa_code

# RabbitMQ queue names
RABBITMQ_MAILS_QUEUES=mails
RABBITMQ_MAILS_WELCOME_EMAILS_QUEUE=mails.welcome_emails
RABBITMQ_MAILS_RESET_PASSWORD_EMAILS_QUEUE=mails.reset_password_emails
RABBITMQ_MAILS_VERIFICATION_EMAILS_QUEUE=mails.verification_emails
RABBITMQ_MAILS_2FA_EMAIL_CODE_QUEUE=mails.two_fa_email_codes

# ==========================================
# JWT Configuration
# ==========================================

# JWT configuration
ACCESS_TOKEN_DURATION=1h
REFRESH_TOKEN_DURATION=168h

# ==========================================
# Internal Mailer Microservice Configuration
# ==========================================

# MailerSend configuration
INTERNAL_MAILER_MAILERSEND_DOMAIN=...
INTERNAL_MAILER_MAILERSEND_NAME=...
INTERNAL_MAILER_MAILERSEND_API_KEY=...
INTERNAL_MAILER_MAILERSEND_SENDER_NAME=...

# Resend configuration
INTERNAL_MAILER_RESEND_DOMAIN=...
INTERNAL_MAILER_RESEND_NAME=...
INTERNAL_MAILER_RESEND_API_KEY=...
INTERNAL_MAILER_RESEND_SENDER_NAME=...

# Selected mailer service
INTERNAL_MAILER_MAILER=resend

# ==========================================
# Auth Microservice Configuration
# ==========================================

# Admin configuration
AUTH_ADMIN_USERNAME=admin
AUTH_ADMIN_EMAIL=admin@example.com
AUTH_ADMIN_PASSWORD=...

# Web App configuration
AUTH_VERIFY_EMAIL_URL=...
AUTH_RESET_PASSWORD_URL=...

# Database configuration
AUTH_POSTGRES_MAX_IDLE_CONNECTIONS=10
AUTH_POSTGRES_MAX_OPEN_CONNECTIONS=100

# BCrypt configuration
AUTH_BCRYPT_COST=10

# 2FA Email configuration
AUTH_TWO_FA_EMAIL_CODE_DURATION=5m
AUTH_TWO_FA_EMAIL_CODE_LENGTH=8

# 2FA TOTP configuration
AUTH_TOTP_PERIOD=30
AUTH_TOTP_DIGITS=6
AUTH_TOTP_SECRET_LENGTH=32
AUTH_TOTP_RECOVERY_CODES_LENGTH=10
AUTH_TOTP_RECOVERY_CODES_COUNT=10

# Token configuration
AUTH_EMAIL_VERIFICATION_TOKEN_DURATION=24h
AUTH_RESET_PASSWORD_TOKEN_DURATION=1h

# Authentication configuration
AUTH_MINIMUM_PASSWORD_LENGTH=16
AUTH_MINIMUM_PASSWORD_SPECIAL_COUNT=2
AUTH_MINIMUM_PASSWORD_NUMBERS_COUNT=4
AUTH_MINIMUM_PASSWORD_CAPS_COUNT=2
AUTH_MAXIMUM_FAILED_ATTEMPTS_COUNT=5
AUTH_MAXIMUM_FAILED_ATTEMPTS_PERIOD=15m

# ==========================================
# User Microservice Configuration
# ==========================================

# Database configuration
USER_POSTGRES_MAX_IDLE_CONNECTIONS=10
USER_POSTGRES_MAX_OPEN_CONNECTIONS=100

# ==========================================
# Movies Microservice Configuration
# ==========================================

# TMDB API key
MOVIES_TMDB_API_KEY=...

# TMDB API images configuration
MOVIES_TMDB_CAST_MEMBER_PROFILE_IMAGE_WIDTH_SIZE=...
MOVIES_TMDB_CREW_MEMBER_PROFILE_IMAGE_WIDTH_SIZE=...
MOVIES_TMDB_SIMPLE_MOVIE_POSTER_IMAGE_WIDTH_SIZE=...
MOVIES_TMDB_PRODUCTION_COMPANY_LOGO_IMAGE_WIDTH_SIZE=...
MOVIES_TMDB_MOVIE_DETAILS_POSTER_IMAGE_WIDTH_SIZE=..
MOVIES_TMDB_AVATAR_IMAGE_WIDTH_SIZE=...

# Database configuration
MOVIES_POSTGRES_MAX_IDLE_CONNECTIONS=10
MOVIES_POSTGRES_MAX_OPEN_CONNECTIONS=100

# ==========================================
# Grafana Configuration
# ==========================================

GRAFANA_ADMIN_USER=...
GRAFANA_ADMIN_PASSWORD=...
GRAFANA_SERVER_ROOT_URL=http://localhost:3000
GRAFANA_USERS_ALLOW_SIGN_UP=false