[submodule "api.ralvarez.dev"]
	path = api.ralvarez.dev
	url = https://github.com/ralvarezdev/api.ralvarez.dev
[submodule "internal-mailer"]
	path = internal-mailer
	url = https://github.com/ralvarezdev/connect-internal-mailer-go
