
[submodule "internal-mailer"]
	path = internal-mailer
	url = https://github.com/ralvarezdev/connect-internal-mailer
[submodule "auth"]
	path = auth
	url = https://github.com/ralvarezdev/connect-auth
[submodule "user"]
	path = user
	url = https://github.com/ralvarezdev/connect-user
[submodule "api.ralvarez.app"]
	path = api.ralvarez.app
	url = https://github.com/ralvarezdev/api.ralvarez.app
[submodule "movies"]
	path = movies
	url = https://github.com/ralvarezdev/connect-movies
