services:
  api-ralvarez-dev:
    build:
      context: ./api.ralvarez.dev
    hostname: api-ralvarez-dev
    ports:
      - "9000:80"

  internal-mailer:
    build:
      context: ./internal-mailer
      secrets:
        - GITHUB_TOKEN
    hostname: internal-mailer
    ports:
      - "9101:50051"
    environment:
      MODE: ${INTERNAL_MAILER_MODE}
      MAILERSEND_DOMAIN: ${INTERNAL_MAILER_MAILERSEND_DOMAIN}
      MAILERSEND_NAME: ${INTERNAL_MAILER_MAILERSEND_NAME}
      MAILERSEND_API_KEY: ${INTERNAL_MAILER_MAILERSEND_API_KEY}
      MAILERSEND_SENDER_NAME: ${INTERNAL_MAILER_MAILERSEND_SENDER_NAME}
      RESEND_DOMAIN: ${INTERNAL_MAILER_RESEND_DOMAIN}
      RESEND_NAME: ${INTERNAL_MAILER_RESEND_NAME}
      RESEND_API_KEY: ${INTERNAL_MAILER_RESEND_API_KEY}
      RESEND_SENDER_NAME: ${INTERNAL_MAILER_RESEND_SENDER_NAME}
      MAILER: ${INTERNAL_MAILER_MAILER}
    restart: on-failure
    networks:
      - app-network

  postgres:
    image: postgres:latest
    hostname: postgres
    volumes:
      - postgres-data:/var/lib/postgresql
      - ./postgres/initdb.d:/docker-entrypoint-initdb.d:ro
    environment:
      POSTGRES_USER: ${POSTGRES_SUPERUSER_NAME}
      POSTGRES_PASSWORD: ${POSTGRES_SUPERUSER_PASSWORD}
      POSTGRES_AUTH_DB_NAME: ${POSTGRES_AUTH_DB_NAME}
      POSTGRES_AUTH_DB_USER: ${POSTGRES_AUTH_DB_USER}
      POSTGRES_AUTH_DB_PASSWORD: ${POSTGRES_AUTH_DB_PASSWORD}
      POSTGRES_USER_DB_NAME: ${POSTGRES_USER_DB_NAME}
      POSTGRES_USER_DB_USER: ${POSTGRES_USER_DB_USER}
      POSTGRES_USER_DB_PASSWORD: ${POSTGRES_USER_DB_PASSWORD}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $POSTGRES_SUPERUSER_NAME && psql -U $POSTGRES_AUTH_DB_USER -d $POSTGRES_AUTH_DB_NAME -c '\\q' || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 20
    networks:
      - app-network

  mongodb:
      image: mongo:latest
      container_name: mongodb
      environment:
        MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
        MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
        INTERNAL_FILE_STORAGE_MONGODB_DB: ${INTERNAL_FILE_STORAGE_MONGODB_DB}
        INTERNAL_FILE_STORAGE_MONGODB_USERNAME: ${INTERNAL_FILE_STORAGE_MONGODB_USERNAME}
        INTERNAL_FILE_STORAGE_MONGODB_PASSWORD: ${INTERNAL_FILE_STORAGE_MONGODB_PASSWORD}
        MOVIES_MONGODB_DB: ${MOVIES_MONGODB_DB}
        MOVIES_MONGODB_USERNAME: ${MOVIES_MONGODB_USERNAME}
        MOVIES_MONGODB_PASSWORD: ${MOVIES_MONGODB_PASSWORD}
      volumes:
        - mongo-data:/data/db
        - ./mongodb/initdb.d:/docker-entrypoint-initdb.d:ro
      networks:
        - app-network

  redis:
    image: redis:latest
    hostname: redis
    volumes:
      - redis-data:/data
      - ./redis/entrypoint.sh:/usr/local/bin/docker-entrypoint.sh:ro
      - ./redis/initdb.d:/docker-entrypoint-initdb.d:ro
    environment:
      REDIS_AUTH_USER: ${REDIS_AUTH_USER}
      REDIS_AUTH_PASSWORD: ${REDIS_AUTH_PASSWORD}
      REDIS_AUTH_DB: ${REDIS_AUTH_DB}
      REDIS_USER_USER: ${REDIS_USER_USER}
      REDIS_USER_PASSWORD: ${REDIS_USER_PASSWORD}
      REDIS_USER_DB: ${REDIS_USER_DB}
      REDIS_MOVIES_USER: ${REDIS_MOVIES_USER}
      REDIS_MOVIES_PASSWORD: ${REDIS_MOVIES_PASSWORD}
      REDIS_MOVIES_DB: ${REDIS_MOVIES_DB}
    command: [ "redis-server", "--requirepass", "${REDIS_DEFAULT_PASSWORD}" , "--aclfile", "/data/users.acl"]
    entrypoint: ["/bin/sh", "/usr/local/bin/docker-entrypoint.sh"]
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  kafka:
    image: confluentinc/cp-kafka
    hostname: kafka
    environment:
      # KRaft settings
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9094
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      CLUSTER_ID: 2x8icf1ETEmIQ1v0AZ1GWA
      
      # Listeners settings for broker and controller communication
      KAFKA_LISTENERS: PLAINTEXT://kafka:9092,CONTROLLER://kafka:9094
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      
      # Replication settings
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      
      # Event Store: Infinite retention + Fast delivery
      KAFKA_NUM_NETWORK_THREADS: 8
      KAFKA_NUM_IO_THREADS: 8
      KAFKA_LINGER_MS: 0
      KAFKA_COMPRESSION_TYPE: lz4
      KAFKA_LOG_RETENTION_HOURS: -1
      KAFKA_LOG_RETENTION_BYTES: -1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "false"
      
      # Security settings
      KAFKA_OPTS: "-Djava.security.auth.login.config=/etc/kafka/kafka_jaas.conf"
      KAFKA_SUPER_USERS: User:kafka-broker-1
    entrypoint: ["/bin/bash", "/usr/local/bin/kafka-entrypoint.sh"]
    volumes:
      - kafka-data:/var/lib/kafka/data
      - ./kafka/config/kafka_jaas.conf:/etc/kafka/kafka_jaas.conf
    healthcheck:
      test: ["CMD", "kafka-broker-api-versions", "--bootstrap-server", "localhost:9092"]
      interval: 10s
      timeout: 10s
      retries: 5

secrets:
  GITHUB_TOKEN:
    file: ./.github_token

volumes:
  postgres-data:
  mongo-data:
  redis-data:
  rabbitmq-data:
  kafka-data:

networks:
  app-network:
    driver: bridge
