services:
  api-ralvarez-dev:
    build:
      context: ./api.ralvarez.dev
    hostname: api-ralvarez-dev
    ports:
      - "9000:8080"
      
  internal-mailer:
    build:
      context: ./internal-mailer
      secrets:
        - GITHUB_TOKEN
    hostname: internal-mailer
    ports:
      - "9101:50051"
    environment:
      MODE: ${INTERNAL_MAILER_MODE}
      MAILERSEND_DOMAIN: ${INTERNAL_MAILER_MAILERSEND_DOMAIN}
      MAILERSEND_NAME: ${INTERNAL_MAILER_MAILERSEND_NAME}
      MAILERSEND_API_KEY: ${INTERNAL_MAILER_MAILERSEND_API_KEY}
      MAILERSEND_SENDER_NAME: ${INTERNAL_MAILER_MAILERSEND_SENDER_NAME}
      RESEND_DOMAIN: ${INTERNAL_MAILER_RESEND_DOMAIN}
      RESEND_NAME: ${INTERNAL_MAILER_RESEND_NAME}
      RESEND_API_KEY: ${INTERNAL_MAILER_RESEND_API_KEY}
      RESEND_SENDER_NAME: ${INTERNAL_MAILER_RESEND_SENDER_NAME}
      MAILER: ${INTERNAL_MAILER_MAILER}
    restart: on-failure
    networks:
      - app-network
      
  postgres:
    image: postgres:latest
    hostname: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql
      - ./postgres/initdb.d:/docker-entrypoint-initdb.d
    environment:
      POSTGRES_USER: ${POSTGRES_SUPERUSER_NAME}
      POSTGRES_PASSWORD: ${POSTGRES_SUPERUSER_PASSWORD}
      POSTGRES_AUTH_DB_NAME: ${POSTGRES_AUTH_DB_NAME}
      POSTGRES_AUTH_DB_USER: ${POSTGRES_AUTH_DB_USER}
      POSTGRES_AUTH_DB_PASSWORD: ${POSTGRES_AUTH_DB_PASSWORD}
      POSTGRES_USER_DB_NAME: ${POSTGRES_USER_DB_NAME}
      POSTGRES_USER_DB_USER: ${POSTGRES_USER_DB_USER}
      POSTGRES_USER_DB_PASSWORD: ${POSTGRES_USER_DB_PASSWORD}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $POSTGRES_SUPERUSER_NAME && psql -U $POSTGRES_AUTH_DB_USER -d $POSTGRES_AUTH_DB_NAME -c '\\q' || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 20
    networks:
      - app-network

  mongodb:
      image: mongo:latest
      container_name: mongodb
      ports:
        - "27017:27017"
      environment:
        MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
        MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
        INTERNAL_FILE_STORAGE_MONGODB_DB: ${INTERNAL_FILE_STORAGE_MONGODB_DB}
        INTERNAL_FILE_STORAGE_MONGODB_USERNAME: ${INTERNAL_FILE_STORAGE_MONGODB_USERNAME}
        INTERNAL_FILE_STORAGE_MONGODB_PASSWORD: ${INTERNAL_FILE_STORAGE_MONGODB_PASSWORD}
        MOVIES_MONGODB_DB: ${MOVIES_MONGODB_DB}
        MOVIES_MONGODB_USERNAME: ${MOVIES_MONGODB_USERNAME}
        MOVIES_MONGODB_PASSWORD: ${MOVIES_MONGODB_PASSWORD}
      volumes:
        - ./mongodb/initdb.d:/docker-entrypoint-initdb.d
        - mongo-data:/data/db
      networks:
        - app-network

secrets:
  GITHUB_TOKEN:
    file: ./.github_token

volumes:
  mongo-data:
  postgres-data:
  redis-data:
    
networks:
  app-network:
    driver: bridge