services:
  api-ralvarez-dev:
    build:
      context: ./api.ralvarez.dev
    hostname: api-ralvarez-dev
    ports:
      - "9000:80"

  internal-mailer:
    build:
      context: ./internal-mailer
      secrets:
        - GITHUB_TOKEN
    hostname: internal-mailer
    ports:
      - "9101:50051"
    environment:
      MODE: ${INTERNAL_MAILER_MODE}
      
      # MailerSend Configuration
      MAILERSEND_DOMAIN: ${INTERNAL_MAILER_MAILERSEND_DOMAIN}
      MAILERSEND_NAME: ${INTERNAL_MAILER_MAILERSEND_NAME}
      MAILERSEND_API_KEY: ${INTERNAL_MAILER_MAILERSEND_API_KEY}
      MAILERSEND_SENDER_NAME: ${INTERNAL_MAILER_MAILERSEND_SENDER_NAME}
      
      # Resend Configuration
      RESEND_DOMAIN: ${INTERNAL_MAILER_RESEND_DOMAIN}
      RESEND_NAME: ${INTERNAL_MAILER_RESEND_NAME}
      RESEND_API_KEY: ${INTERNAL_MAILER_RESEND_API_KEY}
      RESEND_SENDER_NAME: ${INTERNAL_MAILER_RESEND_SENDER_NAME}
      
      # Selected Mailer
      MAILER: ${INTERNAL_MAILER_MAILER}
    restart: on-failure
    networks:
      - app-network

  postgres:
    image: postgres:latest
    hostname: postgres
    volumes:
      - postgres-data:/var/lib/postgresql
      - ./postgres/initdb.d:/docker-entrypoint-initdb.d:ro
    environment:
      # Superuser
      POSTGRES_USER: ${POSTGRES_SUPERUSER_NAME}
      POSTGRES_PASSWORD: ${POSTGRES_SUPERUSER_PASSWORD}
      
      # Databases
      POSTGRES_AUTH_DB_NAME: ${POSTGRES_AUTH_DB_NAME}
      POSTGRES_USER_DB_NAME: ${POSTGRES_USER_DB_NAME}
      
      # Users
      POSTGRES_AUTH_DB_USER: ${POSTGRES_AUTH_DB_USER}
      POSTGRES_USER_DB_USER: ${POSTGRES_USER_DB_USER}
      
      # Passwords
      POSTGRES_AUTH_DB_PASSWORD: ${POSTGRES_AUTH_DB_PASSWORD}
      POSTGRES_USER_DB_PASSWORD: ${POSTGRES_USER_DB_PASSWORD}
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U $POSTGRES_SUPERUSER_NAME && psql -U $POSTGRES_AUTH_DB_USER -d $POSTGRES_AUTH_DB_NAME -c '\\q' || exit 1",
        ]
      interval: 10s
      timeout: 5s
      retries: 20
    networks:
      - app-network

  mongodb:
    image: mongo:latest
    container_name: mongodb
    environment:
      # Root User
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      
      # Databases
      INTERNAL_FILE_STORAGE_MONGODB_DB: ${INTERNAL_FILE_STORAGE_MONGODB_DB}
      MOVIES_MONGODB_DB: ${MOVIES_MONGODB_DB}
      
      # Users
      INTERNAL_FILE_STORAGE_MONGODB_USERNAME: ${INTERNAL_FILE_STORAGE_MONGODB_USERNAME}
      MOVIES_MONGODB_USERNAME: ${MOVIES_MONGODB_USERNAME}
      
      # Passwords
      INTERNAL_FILE_STORAGE_MONGODB_PASSWORD: ${INTERNAL_FILE_STORAGE_MONGODB_PASSWORD}
      MOVIES_MONGODB_PASSWORD: ${MOVIES_MONGODB_PASSWORD}
    ulimits:
      nofile:
        soft: 64000
        hard: 64000
    volumes:
      - mongodb-data:/data/db
      - ./mongodb/initdb.d:/docker-entrypoint-initdb.d:ro
    networks:
      - app-network

  redis:
    image: redis:latest
    hostname: redis
    volumes:
      - redis-data:/data
      - ./redis/entrypoint.sh:/usr/local/bin/docker-entrypoint.sh:ro
      - ./redis/initdb.d:/docker-entrypoint-initdb.d:ro
    environment:
      # Root Password
      REDIS_DEFAULT_PASSWORD: ${REDIS_DEFAULT_PASSWORD}
      
      # Databases
      REDIS_AUTH_DB: ${REDIS_AUTH_DB}
      REDIS_USER_DB: ${REDIS_USER_DB}
      REDIS_MOVIES_DB: ${REDIS_MOVIES_DB}
      
      # Users
      REDIS_AUTH_USER: ${REDIS_AUTH_USER}
      REDIS_USER_USER: ${REDIS_USER_USER}
      REDIS_MOVIES_USER: ${REDIS_MOVIES_USER}
      
      # Passwords
      REDIS_AUTH_PASSWORD: ${REDIS_AUTH_PASSWORD}
      REDIS_USER_PASSWORD: ${REDIS_USER_PASSWORD}
      REDIS_MOVIES_PASSWORD: ${REDIS_MOVIES_PASSWORD}
    command:
      [
        "redis-server",
        "--requirepass",
        "${REDIS_DEFAULT_PASSWORD}",
        "--aclfile",
        "/data/users.acl",
      ]
    entrypoint: ["/bin/sh", "/usr/local/bin/docker-entrypoint.sh"]
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  rabbitmq:
    image: rabbitmq:3-management
    hostname: rabbitmq
    ports:
      - "15672:15672" # Management UI
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
      - ./rabbitmq/entrypoint.sh:/usr/local/bin/docker-entrypoint.sh:ro
      - ./rabbitmq/initdb.d:/docker-entrypoint-initdb.d:ro
    environment:
      # Default User
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASSWORD}
      
      # Default VHost
      RABBITMQ_DEFAULT_VHOST: ${RABBITMQ_DEFAULT_VHOST}
      
      # Users
      RABBITMQ_AUTH_USER: ${RABBITMQ_AUTH_USER}
      RABBITMQ_USER_USER: ${RABBITMQ_USER_USER}
      RABBITMQ_MOVIES_USER: ${RABBITMQ_MOVIES_USER}
      RABBITMQ_INTERNAL_MAILER_USER: ${RABBITMQ_INTERNAL_MAILER_USER}
      
      # Passwords
      RABBITMQ_AUTH_PASSWORD: ${RABBITMQ_AUTH_PASSWORD}
      RABBITMQ_USER_PASSWORD: ${RABBITMQ_USER_PASSWORD}
      RABBITMQ_MOVIES_PASSWORD: ${RABBITMQ_MOVIES_PASSWORD}
      RABBITMQ_INTERNAL_MAILER_PASSWORD: ${RABBITMQ_INTERNAL_MAILER_PASSWORD}
      
      # Exchanges
      RABBITMQ_TOKENS_EXCHANGE_NAME: ${RABBITMQ_TOKENS_EXCHANGE_NAME}
      RABBITMQ_USERNAMES_EXCHANGE_NAME: ${RABBITMQ_USERNAMES_EXCHANGE_NAME}
      RABBITMQ_MAILS_EXCHANGE_NAME: ${RABBITMQ_MAILS_EXCHANGE_NAME}
    entrypoint: ["/bin/sh", "/usr/local/bin/docker-entrypoint.sh"]
    healthcheck:
      test: rabbitmq-diagnostics -q ping && rabbitmq-diagnostics -q check_port_connectivity
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 40s
    networks:
      - app-network

  kurrentdb:
    image: kurrentplatform/kurrentdb:latest
    hostname: kurrentdb
    ports:
      - "2113:2113" # Default client port (gRPC and HTTP Admin UI)
    environment:
      EVENTSTORE_DEFAULT_ADMIN_PASSWORD: ${KURRENTDB_ADMIN_PASSWORD}
    command: [
        "--dev",
        # "${KURRENTDB_INSECURE}",
        "--run-projections=All", # Enable projections
        "--start-standard-projections", # Start standard projections
        "--enable-atom-pub-over-http", # Enable HTTP Atom Pub for Admin UI
        "--cluster-size=1", # Single node cluster
      ]
    volumes:
      - kurrentdb-data:/var/lib/kurrentdb/
      - kurrentdb-logs:/var/log/kurrentdb/
    networks:
      - app-network

  kurrentdb-setup:
    build:
      context: ./kurrentdb-setup
    depends_on:
      kurrentdb:
        condition: service_healthy
    environment:
      # Connection
      KURRENTDB_HOST: kurrentdb
      KURRENTDB_PORT: 2113
      KURRENTDB_ADMIN_USERNAME: ${KURRENTDB_ADMIN_USERNAME}
      KURRENTDB_ADMIN_PASSWORD: ${KURRENTDB_ADMIN_PASSWORD}

      # Usernames
      KURRENTDB_AUTH_USERNAME: ${KURRENTDB_AUTH_USERNAME}
      KURRENTDB_MAILER_USERNAME: ${KURRENTDB_MAILER_USERNAME}
      KURRENTDB_USER_USERNAME: ${KURRENTDB_USER_USERNAME}
      KURRENTDB_MOVIES_USERNAME: ${KURRENTDB_MOVIES_USERNAME}

      # Passwords
      KURRENTDB_AUTH_PASSWORD: ${KURRENTDB_AUTH_PASSWORD}
      KURRENTDB_MAILER_PASSWORD: ${KURRENTDB_MAILER_PASSWORD}
      KURRENTDB_USER_PASSWORD: ${KURRENTDB_USER_PASSWORD}
      KURRENTDB_MOVIES_PASSWORD: ${KURRENTDB_MOVIES_PASSWORD}

      # Stream Names
      KURRENTDB_TOKENS_STREAM: ${KURRENTDB_TOKENS_STREAM}
      KURRENTDB_USERNAMES_STREAM: ${KURRENTDB_USERNAMES_STREAM}
      KURRENTDB_MAILS_STREAM: ${KURRENTDB_MAILS_STREAM}
      
      # Default ACLs
      KURRENTDB_DEFAULT_USER_STREAM_READERS: ${KURRENTDB_DEFAULT_USER_STREAM_READERS}
      KURRENTDB_DEFAULT_SYSTEM_STREAM_READERS: ${KURRENTDB_DEFAULT_SYSTEM_STREAM_READERS}
    volumes:
      - ./kurrentdb-setup/initdb.d:/docker-entrypoint-initdb.d:ro
    networks:
      - app-network

secrets:
  GITHUB_TOKEN:
    file: ./.github_token

volumes:
  postgres-data:
  mongodb-data:
  redis-data:
  rabbitmq-data:
  kurrentdb-data:
  kurrentdb-logs:

networks:
  app-network:
    driver: bridge
