services:
  api-ralvarez-app:
    build:
      context: ./api.ralvarez.app
    hostname: api-ralvarez-app
    ports:
      - "9000:80" # Nginx HTTP

  internal-mailer:
    build:
      context: ./internal-mailer
      secrets:
        - GITHUB_TOKEN
    hostname: internal-mailer
    ports:
      - "9100:8080" # HTTP Internal Mailer Service
      - "9101:50051" # gRPC Internal Mailer Service
    environment:
      # General Configuration
      MODE: ${INTERNAL_MAILER_MODE}
      
      # Server Configuration
      HTTP_PORT: 8080
      GRPC_PORT: 50051

      # MailerSend Configuration
      MAILERSEND_DOMAIN: ${INTERNAL_MAILER_MAILERSEND_DOMAIN}
      MAILERSEND_NAME: ${INTERNAL_MAILER_MAILERSEND_NAME}
      MAILERSEND_API_KEY: ${INTERNAL_MAILER_MAILERSEND_API_KEY}
      MAILERSEND_SENDER_NAME: ${INTERNAL_MAILER_MAILERSEND_SENDER_NAME}

      # Resend Configuration
      RESEND_DOMAIN: ${INTERNAL_MAILER_RESEND_DOMAIN}
      RESEND_NAME: ${INTERNAL_MAILER_RESEND_NAME}
      RESEND_API_KEY: ${INTERNAL_MAILER_RESEND_API_KEY}
      RESEND_SENDER_NAME: ${INTERNAL_MAILER_RESEND_SENDER_NAME}

      # Selected Mailer
      MAILER: ${INTERNAL_MAILER_MAILER}
      
      # RabbitMQ Configuration
      RABBITMQ_URL: amqp://${RABBITMQ_INTERNAL_MAILER_USER}:${RABBITMQ_INTERNAL_MAILER_PASSWORD_ENCODED}@rabbitmq:5672/${RABBITMQ_DEFAULT_VHOST}
    
      # RabbitMQ mails exchange
      RABBITMQ_MAILS_EXCHANGE_NAME: ${RABBITMQ_MAILS_EXCHANGE_NAME}
      
      # RabbitMQ queue names
      RABBITMQ_WELCOME_EMAILS_QUEUE: ${RABBITMQ_MAILS_WELCOME_EMAILS_QUEUE}
      RABBITMQ_RESET_PASSWORD_EMAILS_QUEUE: ${RABBITMQ_MAILS_RESET_PASSWORD_EMAILS_QUEUE}
      RABBITMQ_VERIFICATION_EMAILS_QUEUE: ${RABBITMQ_MAILS_VERIFICATION_EMAILS_QUEUE}
      RABBITMQ_2FA_EMAIL_CODE_QUEUE: ${RABBITMQ_MAILS_2FA_EMAIL_CODE_QUEUE}
      
      # RabbitMQ routing keys
      RABBITMQ_WELCOME_EMAILS_ROUTING_KEY: ${RABBITMQ_WELCOME_EMAILS_ROUTING_KEY}
      RABBITMQ_RESET_PASSWORD_EMAILS_ROUTING_KEY: ${RABBITMQ_RESET_PASSWORD_EMAILS_ROUTING_KEY}
      RABBITMQ_VERIFICATION_EMAILS_ROUTING_KEY: ${RABBITMQ_VERIFICATION_EMAILS_ROUTING_KEY}
      RABBITMQ_2FA_CODE_EMAILS_ROUTING_KEY: ${RABBITMQ_2FA_CODE_EMAILS_ROUTING_KEY}
    restart: on-failure
    networks:
      - app-network
    depends_on:
      rabbitmq:
        condition: service_healthy
      
  auth:
    build:
      context: ./auth
      secrets:
        - GITHUB_TOKEN
    hostname: auth
    ports:
      - "9001:8080" # HTTP Auth Service
      - "9102:8081" # HTTP Internal Auth Service
      - "9002:50051" # gRPC Auth Service
      - "9103:50052" # gRPC Internal Auth Service
    environment:
      # Mode
      MODE: ${AUTH_MODE}
      
      # Admin credentials
      ADMIN_USERNAME: ${AUTH_ADMIN_USERNAME}
      ADMIN_EMAIL: ${AUTH_ADMIN_EMAIL}
      ADMIN_PASSWORD: ${AUTH_ADMIN_PASSWORD}
      
      # Server configuration
      DOMAIN: ${DOMAIN}
      HTTP_PORT: 8080
      HTTP_INTERNAL_PORT: 8081
      GRPC_PORT: 50051
      GRPC_INTERNAL_PORT: 50052
      
      # Web App configuration
      VERIFY_EMAIL_URL: ${AUTH_VERIFY_EMAIL_URL}
      RESET_PASSWORD_URL: ${AUTH_RESET_PASSWORD_URL}
      
      # Postgres Connection
      POSTGRES_DSN: postgres://${POSTGRES_AUTH_DB_USER}:${POSTGRES_AUTH_DB_PASSWORD_ENCODED}@postgres:5432/${POSTGRES_AUTH_DB_NAME}?sslmode=disable
      POSTGRES_MAX_IDLE_CONNECTIONS: ${AUTH_POSTGRES_MAX_IDLE_CONNECTIONS}
      POSTGRES_MAX_OPEN_CONNECTIONS: ${AUTH_POSTGRES_MAX_OPEN_CONNECTIONS}

      # Redis Connection
      REDIS_ADDRESS: redis:6379
      REDIS_USERNAME: ${REDIS_AUTH_USER}
      REDIS_PASSWORD: ${REDIS_AUTH_PASSWORD}
      REDIS_DB: ${REDIS_TOKENS_DB}
      
      # JWT configuration
      JWT_ISSUER: ${DOMAIN}
      ACCESS_TOKEN_DURATION: ${ACCESS_TOKEN_DURATION}
      REFRESH_TOKEN_DURATION: ${REFRESH_TOKEN_DURATION}
      
      # RabbitMQ configuration
      RABBITMQ_URL: amqp://${RABBITMQ_AUTH_USER}:${RABBITMQ_AUTH_PASSWORD_ENCODED}@rabbitmq:5672/${RABBITMQ_DEFAULT_VHOST}
      RABBITMQ_MAILS_EXCHANGE_NAME: ${RABBITMQ_MAILS_EXCHANGE_NAME}
      RABBITMQ_WELCOME_EMAILS_ROUTING_KEY: ${RABBITMQ_WELCOME_EMAILS_ROUTING_KEY}
      RABBITMQ_RESET_PASSWORD_EMAILS_ROUTING_KEY: ${RABBITMQ_RESET_PASSWORD_EMAILS_ROUTING_KEY}
      RABBITMQ_VERIFICATION_EMAILS_ROUTING_KEY: ${RABBITMQ_VERIFICATION_EMAILS_ROUTING_KEY}
      RABBITMQ_2FA_CODE_EMAILS_ROUTING_KEY: ${RABBITMQ_2FA_CODE_EMAILS_ROUTING_KEY}

      # BCrypt configuration
      BCRYPT_COST: ${AUTH_BCRYPT_COST}
      
      # 2FA Email configuration
      TWO_FA_EMAIL_CODE_DURATION: ${AUTH_TWO_FA_EMAIL_CODE_DURATION}
      TWO_FA_EMAIL_CODE_LENGTH: ${AUTH_TWO_FA_EMAIL_CODE_LENGTH}
      
      # 2FA TOTP configuration
      TOTP_PERIOD: ${AUTH_TOTP_PERIOD}
      TOTP_DIGITS: ${AUTH_TOTP_DIGITS}
      TOTP_SECRET_LENGTH: ${AUTH_TOTP_SECRET_LENGTH}
      TOTP_RECOVERY_CODES_LENGTH: ${AUTH_TOTP_RECOVERY_CODES_LENGTH}
      TOTP_RECOVERY_CODES_COUNT: ${AUTH_TOTP_RECOVERY_CODES_COUNT}
      TOTP_ISSUER: ${DOMAIN}
      
      # Token configuration
      EMAIL_VERIFICATION_TOKEN_DURATION: ${AUTH_EMAIL_VERIFICATION_TOKEN_DURATION}
      RESET_PASSWORD_TOKEN_DURATION: ${AUTH_RESET_PASSWORD_TOKEN_DURATION}
      
      # Authentication configuration
      MINIMUM_PASSWORD_LENGTH: ${AUTH_MINIMUM_PASSWORD_LENGTH}
      MINIMUM_PASSWORD_SPECIAL_COUNT: ${AUTH_MINIMUM_PASSWORD_SPECIAL_COUNT}
      MINIMUM_PASSWORD_NUMBERS_COUNT: ${AUTH_MINIMUM_PASSWORD_NUMBERS_COUNT}
      MINIMUM_PASSWORD_CAPS_COUNT: ${AUTH_MINIMUM_PASSWORD_CAPS_COUNT}
      MAXIMUM_FAILED_ATTEMPTS_COUNT: ${AUTH_MAXIMUM_FAILED_ATTEMPTS_COUNT}
      MAXIMUM_FAILED_ATTEMPTS_PERIOD: ${AUTH_MAXIMUM_FAILED_ATTEMPTS_PERIOD}
    restart: on-failure
    volumes:
      - ./jwt/keys/private_key.pem:/app/config/private_key.pem:ro
      - ./jwt/keys/public_key.pem:/app/config/public_key.pem:ro
    networks:
      - app-network
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      
  user:
    build:
      context: ./user
      secrets:
        - GITHUB_TOKEN
    hostname: user
    ports:
      - "9003:8080" # HTTP User Service
      - "9004:50051" # gRPC User Service
    environment:
      # Mode
      MODE: ${USER_MODE}
      
      # Server configuration
      HTTP_PORT: 8080
      GRPC_PORT: 50051
      AUTH_SERVICE_ADDRESS: http://auth:50051
      INTERNAL_AUTH_SERVICE_ADDRESS: http://auth:50052
      
      # Postgres Connection
      POSTGRES_DSN: postgres://${POSTGRES_USER_DB_USER}:${POSTGRES_USER_DB_PASSWORD_ENCODED}@postgres:5432/${POSTGRES_USER_DB_NAME}?sslmode=disable
      POSTGRES_MAX_IDLE_CONNECTIONS: ${USER_POSTGRES_MAX_IDLE_CONNECTIONS}
      POSTGRES_MAX_OPEN_CONNECTIONS: ${USER_POSTGRES_MAX_OPEN_CONNECTIONS}
      
      # Redis configuration
      REDIS_ADDRESS: redis:6379
      REDIS_USERNAME: ${REDIS_USER_USER}
      REDIS_PASSWORD: ${REDIS_USER_PASSWORD}
      REDIS_DB: ${REDIS_TOKENS_DB}
    restart: on-failure
    volumes:
      - ./jwt/keys/public_key.pem:/app/config/public_key.pem:ro
    networks:
      - app-network
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      auth:
        condition: service_started
        
  movies:
    build:
      context: ./movies
      secrets:
        - GITHUB_TOKEN
    hostname: movies
    ports:
      - "9005:8080" # HTTP Movies Service
      - "9006:50051" # gRPC Movies Service
    environment:
      # Mode
      MODE: ${MOVIES_MODE}
      
      # Server configuration
      HTTP_PORT: 8080
      GRPC_PORT: 50051
      AUTH_SERVICE_ADDRESS: http://auth:50051
      
      # Postgres Connection
      POSTGRES_DSN: postgres://${POSTGRES_MOVIES_DB_USER}:${POSTGRES_MOVIES_DB_PASSWORD_ENCODED}@postgres:5432/${POSTGRES_MOVIES_DB_NAME}?sslmode=disable
      POSTGRES_MAX_IDLE_CONNECTIONS: ${MOVIES_POSTGRES_MAX_IDLE_CONNECTIONS}
      POSTGRES_MAX_OPEN_CONNECTIONS: ${MOVIES_POSTGRES_MAX_OPEN_CONNECTIONS}
      
      # Redis configuration
      REDIS_ADDRESS: redis:6379
      REDIS_USERNAME: ${REDIS_MOVIES_USER}
      REDIS_PASSWORD: ${REDIS_MOVIES_PASSWORD}
      REDIS_DB: ${REDIS_TOKENS_DB}
      
      # TMDB API key
      TMDB_API_KEY: ${MOVIES_TMDB_API_KEY}
      
      # TMDB Image sizes
      TMDB_CAST_MEMBER_PROFILE_IMAGE_WIDTH_SIZE: ${MOVIES_TMDB_CAST_MEMBER_PROFILE_IMAGE_WIDTH_SIZE}
      TMDB_CREW_MEMBER_PROFILE_IMAGE_WIDTH_SIZE: ${MOVIES_TMDB_CREW_MEMBER_PROFILE_IMAGE_WIDTH_SIZE}
      TMDB_SIMPLE_MOVIE_POSTER_IMAGE_WIDTH_SIZE: ${MOVIES_TMDB_SIMPLE_MOVIE_POSTER_IMAGE_WIDTH_SIZE}
      TMDB_PRODUCTION_COMPANY_LOGO_IMAGE_WIDTH_SIZE: ${MOVIES_TMDB_PRODUCTION_COMPANY_LOGO_IMAGE_WIDTH_SIZE}
      TMDB_MOVIE_DETAILS_POSTER_IMAGE_WIDTH_SIZE: ${MOVIES_TMDB_MOVIE_DETAILS_POSTER_IMAGE_WIDTH_SIZE}
      TMDB_AVATAR_IMAGE_WIDTH_SIZE: ${MOVIES_TMDB_AVATAR_IMAGE_WIDTH_SIZE}
    restart: on-failure
    volumes:
      - ./jwt/keys/public_key.pem:/app/config/public_key.pem:ro
    networks:
      - app-network
    depends_on:
      redis:
        condition: service_healthy
      postgres:
        condition: service_healthy
      auth:
        condition: service_started

  postgres:
    image: postgres:latest
    hostname: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql
      - ./postgres/initdb.d:/docker-entrypoint-initdb.d:ro
      - ./postgres/config/postgresql.conf:/etc/postgresql/postgresql.conf:ro
    environment:
      # Superuser
      POSTGRES_USER: ${POSTGRES_SUPERUSER_NAME}
      POSTGRES_PASSWORD: ${POSTGRES_SUPERUSER_PASSWORD}

      # Databases
      POSTGRES_AUTH_DB_NAME: ${POSTGRES_AUTH_DB_NAME}
      POSTGRES_USER_DB_NAME: ${POSTGRES_USER_DB_NAME}
      POSTGRES_MOVIES_DB_NAME: ${POSTGRES_MOVIES_DB_NAME}

      # Users
      POSTGRES_AUTH_DB_USER: ${POSTGRES_AUTH_DB_USER}
      POSTGRES_USER_DB_USER: ${POSTGRES_USER_DB_USER}
      POSTGRES_MOVIES_DB_USER: ${POSTGRES_MOVIES_DB_USER}

      # Passwords
      POSTGRES_AUTH_DB_PASSWORD: ${POSTGRES_AUTH_DB_PASSWORD}
      POSTGRES_USER_DB_PASSWORD: ${POSTGRES_USER_DB_PASSWORD}
      POSTGRES_MOVIES_DB_PASSWORD: ${POSTGRES_MOVIES_DB_PASSWORD}
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U $POSTGRES_SUPERUSER_NAME && psql -U $POSTGRES_AUTH_DB_USER -d $POSTGRES_AUTH_DB_NAME -c '\\q' || exit 1",
        ]
      interval: 10s
      timeout: 5s
      retries: 20
      start_period: 120s # Allow time for DB and users to be created
    networks:
      - app-network

  redis:
    image: redis:latest
    hostname: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
      - ./redis/config/redis.conf:/usr/local/etc/redis/redis.conf:ro
      - ./redis/entrypoint.sh:/usr/local/bin/docker-entrypoint.sh:ro
      - ./redis/initdb.d:/docker-entrypoint-initdb.d:ro
    environment:
      # Root Password
      REDIS_DEFAULT_PASSWORD: ${REDIS_DEFAULT_PASSWORD}

      # Databases
      REDIS_TOKENS_DB: ${REDIS_TOKENS_DB}

      # Users
      REDIS_AUTH_USER: ${REDIS_AUTH_USER}
      REDIS_USER_USER: ${REDIS_USER_USER}
      REDIS_MOVIES_USER: ${REDIS_MOVIES_USER}

      # Passwords
      REDIS_AUTH_PASSWORD: ${REDIS_AUTH_PASSWORD}
      REDIS_USER_PASSWORD: ${REDIS_USER_PASSWORD}
      REDIS_MOVIES_PASSWORD: ${REDIS_MOVIES_PASSWORD}
    command:
      [
        "redis-server",
        "/usr/local/etc/redis/redis.conf",
        "--requirepass",
        "${REDIS_DEFAULT_PASSWORD}",
        "--aclfile",
        "/data/users.acl",
        "--loglevel",
        "warning",
      ]
    entrypoint: ["/bin/sh", "/usr/local/bin/docker-entrypoint.sh"]
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 6
      start_period: 60s # Allow time for Redis to initialize
    networks:
      - app-network

  rabbitmq:
    image: rabbitmq:3-management
    hostname: rabbitmq
    ports:
      - "5672:5672"   # AMQP
      - "15672:15672" # Management UI
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
      - ./rabbitmq/entrypoint.sh:/usr/local/bin/docker-entrypoint.sh:ro
      - ./rabbitmq/initdb.d:/docker-entrypoint-initdb.d:ro
    environment:
      # Logs
      RABBITMQ_LOGS: "/var/log/rabbitmq/rabbitmq.log"
      RABBITMQ_LOG_LEVEL: "warning"

      # Default User
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASSWORD}

      # Default VHost
      RABBITMQ_DEFAULT_VHOST: ${RABBITMQ_DEFAULT_VHOST}

      # Users
      RABBITMQ_AUTH_USER: ${RABBITMQ_AUTH_USER}
      RABBITMQ_INTERNAL_MAILER_USER: ${RABBITMQ_INTERNAL_MAILER_USER}

      # Passwords
      RABBITMQ_AUTH_PASSWORD: ${RABBITMQ_AUTH_PASSWORD}
      RABBITMQ_INTERNAL_MAILER_PASSWORD: ${RABBITMQ_INTERNAL_MAILER_PASSWORD}

      # Exchanges
      RABBITMQ_MAILS_EXCHANGE_NAME: ${RABBITMQ_MAILS_EXCHANGE_NAME}
      
      # Mails queues
      RABBITMQ_MAILS_QUEUES: ${RABBITMQ_MAILS_QUEUES}
    entrypoint: ["/bin/sh", "/usr/local/bin/docker-entrypoint.sh"]
    healthcheck:
      test: rabbitmq-diagnostics -q ping && rabbitmq-diagnostics -q check_port_connectivity
      interval: 10s
      timeout: 10s
      retries: 6
      start_period: 120s # Allow time for RabbitMQ to initialize
    networks:
      - app-network

secrets:
  GITHUB_TOKEN:
    file: ./.github_token

volumes:
  postgres-data:
  redis-data:
  rabbitmq-data:

networks:
  app-network:
    driver: bridge
